* {
    margin: 0px;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'MyCustomFont2';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}


.main {
    background-color: #F6D050;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 24%;
    height: 66%;
    background-color: white;
      /* 水平偏移 | 垂直偏移 | 模糊半径 | 颜色 */
    box-shadow: 10px 10px 5px rgba(0, 0, 0);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start; 
    padding: 20px;
    /* background-color: blueviolet; */
    /* align-items: center; */
    /* align-content: space-between; */
}

.content_header {
    background-color: white;
    width: 100%;
    height:  60%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.content_header img{
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
}
.content_header img{
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    border-radius: 6%;
}
.content_title{
    /* background-color: burlywood; */
}

.content_title h2 {
    font-size: medium;
    text-align: center;
    width: 80%;
    height: 50%;
    border-radius: 6%;
    background-color: #F6D050;

}
.content_title span {
    font-size: small;
    font-family: 'MyCustomFont', sans-serif;
    /* background-color: #F6D050; */

}
.content {
    background-color: white;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.content h1{
    font-size:  x-large;
    width: 100%;
    height: 20%;
    font-family: 'MyCustomFont2', sans-serif;
}

.container p {
    color: #9A9A9A;
    font-family: 'MyCustomFont', sans-serif;
}
.author {
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    /* align-content: space-around; */
    justify-content: flex-start;
    gap: 10px; /* 可以调整这个值以控制元素之间的空间 */
}

.author img {
    width: 10%;
}

.author span {
    font-family: MyCustomFont2;
    font-size:medium;
    display: block;
}

