/* prettier-ignore */
:root {
  /* Color */
  --color-green: hsl(75, 94%, 57%);
  --color-white: #ffffff;
  --color-gray700: hsl(0, 0%, 20%);
  --color-gray800: hsl(0, 0%, 8%);
  --color-gray900: hsl(0, 0%, 8%);

  /* Font Size */
  --fs-l: clamp(2rem, 1.86rem + 0.38vw, 2.4rem);
  --fs-m: clamp(1.4rem, 1.33rem + 0.19vw, 1.6rem);
  --fs-s: clamp(1.2rem, 1.13rem + 0.19vw, 1.4rem);

  /* Font Weight */
  --fw-l: 700;
  --fw-m: 600;
  --fw-s: 400;

  /* Radius */
  --radius-l: 20px;
  --radius-m: 10px;
  --radius-s: 4px;
  --radius-circle: 100%;


  /* spacing */
  --spacing-m: 2.5rem;
  --spacing-s: 1.5rem;
  --spacing-l: 3rem;
  
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html body {
  width: 100%;
  height: 100vh;
  /* the default font size of the browser is 16px, 62.5% * 16 = 10px, easy for calculate*/
  background-color: #141414;
}
.main {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* @media screen and (max-width: 600px) {
  .main {
    
  }
} */
.attribution {
  font-size: var(--fs-m);
  color: var(--color-white);
  text-align: center;
}
.attribution a {
  color: var(--color-green);
  font-size: var(--fs-m);
}

/* Card */
.card {
  width: 40rem;
  height: 60rem;
  place-items: center;
  background-color: #1f1f1f;
  border-radius: var(--radius-m);
}
@media screen and (max-width: 600px) {
  .card {
    width: 30rem;
    height: 50rem;
    grid-area: c;
  }
}

.card__avatar {
  border-radius: var(--radius-circle);
  width: 100px;
  margin: var(--spacing-m) 0;
  /* margin-top: 50px; */
}
.card__name {
  font-family: "Inter";
  font-size: var(--fs-l);
  font-weight: var(--fw-l);
  color: var(--color-white);
  margin-bottom: var(--spacing-s);
}
.card__location {
  display: inline-block;
  font-size: var(--fs-s);
  color: var(--color-green);
  font-family: "Inter";
  font-weight: var(--fw-m);
  margin-bottom: var(--spacing-l);
}

.card__desc {
  font-size: var(--fs-s);
  color: var(--color-white);
  font-family: "Inter";
  font-weight: var(--fw-s);
  margin-bottom: var(--spacing-l);
}

.card__desc {
  margin-bottom: var(--spacing-m);
}

.card__accounts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
}

.card__account-btn {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 100%;
  height: 4rem;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  background-color: #333333;
  border: 0;
  padding: 1.5px;
  border-radius: var(--radius-s);
  transition: all 0.9s ease;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .card__account-btn {
    height: 3rem;
  }
}

.card__account-btn:hover {
  background-color: var(--color-green);
  transform: translateX(5px);
}
.card__account-btn:hover .card__account-text {
  color: var(--color-gray700);
}
.card__account-text {
  font-weight: var(--fw-m);
  font-size: var(--fs-s);
  color: var(--color-white);
}
